.Card {
    width: 400px;
    height: 225px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 20px 40px rgba($color: #000000, $alpha: .25);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 500ms;

    img {
        position: absolute;
        top: 0;
        height: 110%;
        z-index: -1;
        transition: 1s;
    }

    h2 {
        color: white;
        width: 190px;
        margin: 20px 0 0 20px;
        font-size: 25px;
        font-weight: 600;
    }

    p {
        color: white;
        align-self: end;
        font-size: 15px;
        margin: 0 0 20px 20px;
        text-transform: uppercase;
    }

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 30px 60px rgba($color: #000000, $alpha: .25);
        cursor: pointer;

        img {
            transform: translateY(-5%) scale(1.1);
        }
    }
}