@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 0;
}

a {
  color: rebeccapurple;
  text-decoration: none;
}